body {
    margin: 0;
    background: rebeccapurple;
}

#wrapper {
    margin: 3rem;
    border-left: 4px solid mediumpurple;
    background: white;
    padding: 1.5rem 3rem;
    font: 2.5rem/1  monospace;
    color: grey;
    justify-content: center;
}

#wrapper p {
    margin: 1.25em 0;
}

#wrapper a {
    text-decoration: none;
    color: crimson;
}

#wrapper b {
    font-weight: bold;
}